/* for mobile  */
@media only screen and (max-width: 600px) {
	.container h1 {
		font-size: 2.5rem;
	}
	.container .today-date {
		font-size: 2rem;
	}
	input {
		width: 80px;
		padding: 0;
	}
}

/* tablet */
@media only screen and (max-width: 440px) {
	.container h1 {
		font-size: 2rem;
	}
	.container .today-date {
		font-size: 1.7rem;
	}
	.col label {
		font-size: 1rem;
	}
}

/* laptop */
@media only screen and (max-width: 992px) {
}

/* large screen */
@media only screen and (max-width: 1200px) {
}
